vti_encoding:SR|utf8-nl
vti_casesensitiveurls:IX|0
vti_textextensions:SX|.txt.txt.
vti_featurelist:VX|vti_ACCreateNewUsers vti_ACChangePassword vti_ACNoUserGroup vti_ACCreateNewGroups vti_ACModifyGroups vti_ServerIndexServer
vti_dependenciesood:IR|0
vti_webservertype:SR|msiis
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_textindexood:IR|0
vti_htmlextensions:SX|.htm.html.stm.html.htm.shtml.shtm.htt.htx.asp.alx.asa.
vti_approvallevels:VR|Content\\ Review Legal\\ Review Code\\ Review Manager\\ Review
vti_createpostinfo:BX|false
vti_timecreated:TR|20 Jun 2003 13:46:28 -0000
vti_extenderversion:SR|4.0.2.6426
vti_longfilenames:IX|1
vti_welcomenames:VX|Default.htm Default.html Default.shtm Default.shtml Default.asp Default.cfm Default.wml Index.htm Index.html Index.shtm Index.shtml Index.asp Index.cfm Index.wml Home.htm Home.html Home.asp Home.cfm Home.wml Default.shtm default.swf home.swf index.swf
vti_insecureserverurl:SR|http://sictec.com
vti_disableautoimgsizeexts:SX|.asp
vti_oldestcompatibleversion:SR|2.0.0.0
vti_restartmanual:IX|0
vti_defaultcharset:SR|windows-1252
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_hassearchbot:BR|false
vti_autorecalc:IX|1
