vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|19 Apr 2001 05:56:00 -0000
vti_extenderversion:SR|5.0.2.2623
vti_backlinkinfo:VX|xiaoyoulu/find_class5.asp xiaoyoulu/register_info.asp xiaoyoulu/CLASS/popwindow_manage_noticeall.asp xiaoyoulu/find_class3.asp xiaoyoulu/find_class4.asp xiaoyoulu/classlist.asp xiaoyoulu/ERROR.ASP xiaoyoulu/REGISTER.HTM xiaoyoulu/find_class2.asp xiaoyoulu/register_finish.htm xiaoyoulu/find_class1.asp xiaoyoulu/HELP.HTM xiaoyoulu/LOCAL.ASP xiaoyoulu/CLASS/popwindow_search.html xiaoyoulu/INDEX.ASP xiaoyoulu/SUCCESS.ASP xiaoyoulu/schoollist.asp xiaoyoulu/CLASS/PopWindowUpload.asp
vti_author:SR|AHU333-KUU8GW3K\\Administrator
vti_modifiedby:SR|AHU333-KUU8GW3K\\Administrator
vti_timecreated:TR|19 Apr 2001 05:56:00 -0000
vti_cacheddtm:TX|19 Apr 2001 05:56:00 -0000
vti_filesize:IR|4231
vti_lineageid:SR|{686390A7-F7F8-4960-A111-4F80B5142285}
