vti_encoding:SR|utf8-nl
http\://www.bell.ca:home.htm
http\://www.bell.ca/en/ps/bus/ecomm/heber.asp:home.htm
hhttp\://www.bell.ca/en/ps/bus/ecomm/heber.asp:home.htm
http\://www.bell.ca/fr/ps/bus/ecomm/forfaits.asp:home.htm
http\://www.bell.ca/en/ps/bus/ecomm/package.asp:home.htm
http\://www.bellsupportweb.ca:home.htm
