BODY {
SCROLLBAR-FACE-COLOR: #92b9fb; SCROLLBAR-HIGHLIGHT-COLOR: #f9fbfd; SCROLLBAR-SHADOW-COLOR: #92b9fb; SCROLLBAR-3DLIGHT-COLOR: #92b9fb; SCROLLBAR-ARROW-COLOR: #f9fbfd; SCROLLBAR-TRACK-COLOR: #f9fbfd; FONT-FAMILY: 宋体; SCROLLBAR-DARKSHADOW-COLOR: #92b9fb
}
A:hover {
	COLOR: #000080; TEXT-DECORATION: none
}
TD.TableBody {
	BACKGROUND-COLOR: #f9fbfd
}
.tableBorder {
	BORDER-RIGHT: 1px; BORDER-TOP: 1px; BORDER-LEFT: 1px; WIDTH: 80%; BORDER-BOTTOM: 1px; BACKGROUND-COLOR: #92b9fb
}
BODY {
	FONT-SIZE: 9pt; FONT-FAMILY: 宋体
}
TD {
	FONT-SIZE: 9pt; FONT-FAMILY: 宋体
}
TR {
	FONT-SIZE: 9pt; FONT-FAMILY: 宋体
}
TABLE {
	FONT-SIZE: 9pt; FONT-FAMILY: 宋体
}
INPUT {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #cccccc; PADDING-BOTTOM: 1px; BORDER-TOP-COLOR: #cccccc; PADDING-TOP: 1px; HEIGHT: 18px; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #cccccc
}
TEXTAREA {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #000000; BORDER-TOP-COLOR: #000000; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #000000
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A:active {
	COLOR: #92b9fb; TEXT-DECORATION: none
}
