vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|19 Jul 2003 11:27:12 -0000
vti_extenderversion:SR|5.0.2.2623
vti_backlinkinfo:VX|xiaoyoulu/CLASS/class_index.asp xiaoyoulu/CLASS/ClassPhotoList.asp xiaoyoulu/CLASS/popwindow_modifyinfo.asp
vti_author:SR|AHU333-KUU8GW3K\\Administrator
vti_modifiedby:SR|AHU333-KUU8GW3K\\Administrator
vti_timecreated:TR|19 Jul 2003 11:27:12 -0000
vti_cacheddtm:TX|19 Jul 2003 11:27:12 -0000
vti_filesize:IR|3020
vti_cachedlinkinfo:VX|S|http://images.sohu.com/cs/sms/alumni3/images/test3.gif
vti_cachedsvcrellinks:VX|NSHS|http://images.sohu.com/cs/sms/alumni3/images/test3.gif
vti_lineageid:SR|{ED33B1A9-10C3-4659-BF3E-97931D0BA51F}
