.news {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 40px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #666666;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	text-decoration: none;
	font-weight: bold;

}
.news TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;
	line-height: 25px;

}
.news A:link {
	PADDING-RIGHT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #666666;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.news A:visited {
	PADDING-RIGHT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #666666;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.news A:active {
	PADDING-RIGHT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #666666;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.news A:hover {
	PADDING-RIGHT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #000000;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}

.head {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 40px;
	FONT-SIZE: 10.5px;
	PADDING-BOTTOM: 0px;
	COLOR: #666666;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	text-decoration: none;
	font-weight: bold;

}
.head TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;

}
.head A:link {
	PADDING-RIGHT: 0px;
	FONT-SIZE: 10.5px;
	PADDING-BOTTOM: 0px;
	COLOR: #666666;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.head A:visited {
	PADDING-RIGHT: 0px;
	FONT-SIZE: 10.5px;
	PADDING-BOTTOM: 0px;
	COLOR: #666666;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.head A:active {
	PADDING-RIGHT: 0px;
	FONT-SIZE: 10.5px;
	PADDING-BOTTOM: 0px;
	COLOR: #666666;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.head A:hover {
	PADDING-RIGHT: 0px;
	FONT-SIZE: 10.5px;
	PADDING-BOTTOM: 0px;
	COLOR: #333333;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}

.vistitle {
	FONT-SIZE: 12px;
	COLOR: #666666;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	text-decoration: none;
	font-weight: normal;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 30px;
	line-height: 17px;

}
.vistitle TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;

}
.vistitle A:link {
	PADDING-RIGHT: 0px;
	FONT-SIZE: 10.5px;
	PADDING-BOTTOM: 0px;
	COLOR: #666666;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.vistitle A:visited {
	PADDING-RIGHT: 0px;
	FONT-SIZE: 10.5px;
	PADDING-BOTTOM: 0px;
	COLOR: #666666;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.vistitle A:active {
	PADDING-RIGHT: 0px;
	FONT-SIZE: 10.5px;
	PADDING-BOTTOM: 0px;
	COLOR: #666666;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.vistitle A:hover {
	PADDING-RIGHT: 0px;
	FONT-SIZE: 10.5px;
	PADDING-BOTTOM: 0px;
	COLOR: #333333;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}

.vishead {
	FONT-SIZE: 11px;
	COLOR: #4B4B4B;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	text-decoration: none;
	font-weight: bold;
	line-height: 15px;
	padding: 0px;

}
.vishead TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;

}
.vishead A:link {
	PADDING-RIGHT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #4B4B4B;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.vishead A:visited {
	PADDING-RIGHT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #4B4B4B;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.vishead A:active {
	PADDING-RIGHT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #4B4B4B;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.vishead A:hover {
	PADDING-RIGHT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #1E4F7B;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}


.link {
	COLOR: #4B4B4B;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	text-decoration: none;
	font-weight: bold;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 8px;
	padding-left: 0px;
	font-size: 10.8px;

}
.link TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;

}
.link A:link {
	PADDING-RIGHT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #4B4B4B;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
	line-height: 16px;

}
.link A:visited {
	PADDING-RIGHT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #4B4B4B;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}
.link A:active {
	PADDING-RIGHT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #4B4B4B;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}
.link A:hover {
	FONT-SIZE: 10.8px;
	COLOR: #999999;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
	padding: 0px;

}

.vh01 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 20px;
	text-decoration: none;
	font-weight: bold;
	color: #044B8D;
	padding-top: 7px;
	padding-bottom: 7px;
}

.vh02 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	color: #044B8D;
	padding-top: 15px;
	padding-bottom: 10px;
	filter: DropShadow(Color=#99BAD9, OffX=1, OffY=1, Positive=2);
}

.vh03 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #333333;
	padding-top: 18px;
	padding-bottom: 5px;
}

.vh04 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #1573A6;
	line-height: 17px;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 0px;
}

.vh05 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 10.8px;
	text-decoration: none;
	font-weight: bold;
	color: #363636;
	line-height: 17px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
}

.vh06 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 10.8px;
	text-decoration: none;
	font-weight: normal;
	color: #363636;
	line-height: 15px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
}

.vh07 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 10.8px;
	text-decoration: none;
	font-weight: bold;
	color: #009999;
	line-height: 17px;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 0px;
}

.vh08 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 10.8px;
	text-decoration: none;
	font-weight: bold;
	color: #628200;
	line-height: 17px;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 0px;
}

.lh01 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 20px;
	text-decoration: none;
	font-weight: bold;
	color: #057FC5;
	padding-top: 7px;
	padding-bottom: 7px;
}

.living_dalian {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 20px;
	text-decoration: none;
	font-weight: bold;
	color: #628200;
	padding-top: 7px;
	padding-bottom: 7px;
}

.living_dalian01 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	color: #628200;
	padding-top: 15px;
	padding-bottom: 10px;
	filter: DropShadow(Color=#9DB946, OffX=1, OffY=1, Positive=3);
}

.biz_dalian {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 20px;
	text-decoration: none;
	font-weight: bold;
	color: #99351A;
	padding-top: 7px;
	padding-bottom: 7px;
}

.biz_dalian01 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	color: #99351A;
	padding-top: 15px;
	padding-bottom: 10px;
	filter: DropShadow(Color=#E48467, OffX=1, OffY=1, Positive=3);
}

.arts_dalian {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 20px;
	text-decoration: none;
	font-weight: bold;
	color: #FA7200;
	padding-top: 7px;
	padding-bottom: 7px;
}

.arts_dalian01 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	color: #FA7200;
	padding-top: 15px;
	padding-bottom: 10px;
	filter: DropShadow(Color=#FFB577, OffX=1, OffY=1, Positive=3);
}

.living_hangzhou {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 20px;
	text-decoration: none;
	font-weight: bold;
	color: #4A9109;
	padding-top: 7px;
	padding-bottom: 7px;
}

.living_hangzhou01 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	color: #4A9109;
	padding-top: 15px;
	padding-bottom: 10px;
	filter: DropShadow(Color=#8CDC42, OffX=1, OffY=1, Positive=3);
}

.biz_hangzhou {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 20px;
	text-decoration: none;
	font-weight: bold;
	color: #B31D47;
	padding-top: 7px;
	padding-bottom: 7px;
}

.biz_hangzhou01 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	color: #B31D47;
	padding-top: 15px;
	padding-bottom: 10px;
	filter: DropShadow(Color=#FC6F96, OffX=1, OffY=1, Positive=3);
}

.bh01 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 20px;
	text-decoration: none;
	font-weight: bold;
	color: #663366;
	padding-top: 7px;
	padding-bottom: 7px;
}

.bh02 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	color: #663366;
	padding-top: 15px;
	padding-bottom: 10px;
	filter: DropShadow(Color=#C58BC5, OffX=1, OffY=1, Positive=2);
}

.bh03 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	color: #6633CC;
	padding-top: 18px;
	padding-bottom: 8px;
}

.bh04 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #663366;
	line-height: 17px;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 0px;
}

.ah01 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 20px;
	text-decoration: none;
	font-weight: bold;
	color: #9B7500;
	padding-top: 7px;
	padding-bottom: 7px;
}

.ah02 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	color: #644B00;
	padding-top: 15px;
	padding-bottom: 10px;
	filter: DropShadow(Color=#FF9900, OffX=1, OffY=1, Positive=2);
}

.ah03 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	color: #913900;
	padding-top: 5px;
	padding-bottom: 5px;
}

.ah04 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #8A3700;
	line-height: 17px;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 0px;
}

.mainh01 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 13px;
	text-decoration: none;
	font-weight: bold;
	color: #333333;
	padding-top: 18px;
	padding-bottom: 10px;
	line-height: 22px;
}

.other01 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 10.8px;
	font-weight: normal;
	color: #503d2c;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 15px;
}


.vmain01 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 11.8px;
	text-decoration: none;
	font-weight: normal;
	color: #333333;
	line-height: 17px;
	padding-bottom: 20px;
	padding-top: 10px;
}
.vmain01 TD {
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: normal;
	padding: 0px;
	margin: 0px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;

}
.vmain01 A:link {
	PADDING-RIGHT: 0px;
	FONT-SIZE: 11.8px;
	PADDING-BOTTOM: 8px;
	COLOR: #333333;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: normal;
	line-height: 16px;

}
.vmain01 A:visited {
	PADDING-RIGHT: 0px;
	FONT-SIZE: 11.8px;
	PADDING-BOTTOM: 8px;
	COLOR: #333333;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: normal;

}
.vmain01 A:active {
	PADDING-RIGHT: 0px;
	FONT-SIZE: 11.8px;
	PADDING-BOTTOM: 8px;
	COLOR: #333333;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: normal;

}
.vmain01 A:hover {
	PADDING-RIGHT: 0px;
	FONT-SIZE: 11.8px;
	PADDING-BOTTOM: 8px;
	COLOR: #0066CC;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: normal;

}

.list {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 11.8px;
	text-decoration: none;
	font-weight: normal;
	color: #333333;
	line-height: 17px;
	padding-bottom: 4px;
	padding-top: 4px;
	padding-left: 7px;
}
.list TD {
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: normal;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 7px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;

}
.list A:link {
	PADDING-RIGHT: 0px;
	FONT-SIZE: 11.8px;
	PADDING-BOTTOM: 4px;
	COLOR: #333333;
	PADDING-TOP: 4px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: normal;
	padding-left: 7px;

}
.list A:visited {
	PADDING-RIGHT: 0px;
	FONT-SIZE: 11.8px;
	PADDING-BOTTOM: 4px;
	COLOR: #333333;
	PADDING-TOP: 4px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: normal;
	padding-left: 7px;

}
.list A:active {
	PADDING-RIGHT: 0px;
	FONT-SIZE: 11.8px;
	PADDING-BOTTOM: 4px;
	COLOR: #333333;
	PADDING-TOP: 4px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: normal;
	padding-left: 7px;

}
.list A:hover {
	PADDING-RIGHT: 0px;
	FONT-SIZE: 11.8px;
	PADDING-BOTTOM: 4px;
	COLOR: #000000;
	PADDING-TOP: 4px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: normal;
	padding-left: 7px;

}
.arts_hangzhou {

	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 20px;
	text-decoration: none;
	font-weight: bold;
	color: #DC9C1E;
	padding-top: 7px;
	padding-bottom: 7px;
}
.arts_hangzhou01 {

	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	color: #DC9C1E;
	padding-top: 15px;
	padding-bottom: 10px;
	filter: DropShadow(Color=#FCCA69, OffX=1, OffY=1, Positive=3);
}

.top {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	COLOR: #FFFFFF;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	text-decoration: none;
	font-weight: bold;

}
.top TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;

}
.top A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 18px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	COLOR: #FFFFFF;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.top A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 18px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	COLOR: #FFFFFF;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.top A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 18px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	COLOR: #FFFFFF;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.top A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 18px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	COLOR: #FFFFFF;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}

.top01 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #666666;
	PADDING-TOP: 0px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: bold;
	line-height: 14px;

}
.top01 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	font-weight: bold;

}
.top01 A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #666666;
	PADDING-TOP: 0px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	font-weight: bold;
	line-height: 14px;

}
.top01 A:visited {
	FONT-SIZE: 10px;
	COLOR: #666666;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	font-weight: bold;
	padding: 0px;
	line-height: 14px;

}
.top01 A:active {
	FONT-SIZE: 10px;
	COLOR: #666666;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	font-weight: bold;
	padding: 0px;
	line-height: 14px;

}
.top01 A:hover {
	FONT-SIZE: 10px;
	COLOR: #143C84;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline;
	font-weight: bold;
	padding: 0px;
	line-height: 14px;

}

.return {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	COLOR: #8E8F8F;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;
	text-decoration: none;




}
.return TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;


}
.return A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	COLOR: #8E8F8F;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;
	filter: DropShadow(Color=#000000, OffX=2, OffY=2, Positive=3);

}
.return A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	COLOR: #8E8F8F;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.return A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	COLOR: #8E8F8F;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.return A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;

	PADDING-BOTTOM: 0px;
	COLOR: #333333;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.select {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #333333;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: normal;
	text-decoration: none;
}

.select TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;


}
.select A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #333333;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.select A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #333333;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.select A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #333333;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.select A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #0033CC;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}

.email {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 5px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #9F9F9F;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	text-decoration: none;
	font-weight: bold;
	line-height: 16px;

}
.email TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;
	text-decoration: none;

}
.email A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #9F9F9F;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}
.email A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #9F9F9F;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.email A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #9F9F9F;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.email A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #666666;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}

.main {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #000000;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	text-decoration: none;
	line-height: 21px;
	font-weight: normal;



}
.main TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	COLOR: #000000;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: normal;
	text-decoration: none;

}
.main A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #000000;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: normal;

}
.main A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #000000;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: normal;

}
.main A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #000000;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: normal;

}
.main A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #990000;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: normal;

}

.left {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 15px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #FFFFFF;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	text-decoration: none;
	font-weight: bold;
}
.left TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;

}
.left A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #FFFFFF;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.left A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #FFFFFF;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.left A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #FFFFFF;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.left A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #FFFFFF;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}

.left01 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 17px;
	PADDING-BOTTOM: 8px;
	COLOR: #044B8D;
	PADDING-TOP: 8px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
	font-size: 10.8px;

}
.left01 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;

}
.left01 A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #044B8D;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
	line-height: 18px;

}
.left01 A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #044B8D;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}
.left01 A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #044B8D;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}
.left01 A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #0033FF;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}

.left02 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 17px;
	PADDING-BOTTOM: 8px;
	COLOR: #035B8F;
	PADDING-TOP: 8px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
	font-size: 10.8px;

}
.left02 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;

}
.left02 A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #035B8F;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
	line-height: 18px;

}
.left02 A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #035B8F;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}
.left02 A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #035B8F;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}
.left02 A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #0066FF;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}

.left03 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 17px;
	PADDING-BOTTOM: 8px;
	COLOR: #663366;
	PADDING-TOP: 8px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
	font-size: 10.8px;

}
.left03 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;

}
.left03 A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #663366;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
	line-height: 18px;

}
.left03 A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #663366;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}
.left03 A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #663366;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}
.left03 A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #663366;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}

.left04 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 17px;
	PADDING-BOTTOM: 8px;
	PADDING-TOP: 8px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
	font-size: 10.8px;
	color: #6A5000;

}
.left04 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;

}
.left04 A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #6A5000;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
	line-height: 18px;

}
.left04 A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #6A5000;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}
.left04 A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #6A5000;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}
.left04 A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #AE8300;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}

.left05 {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 0px; 
	COLOR: #ffffff; 
	PADDING-TOP: 0px; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none
}
.left05 TD {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	FONT-WEIGHT: normal; 
	PADDING-BOTTOM: 0px; 
	PADDING-TOP: 0px; 
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
.left05 A:link {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 0px; 
	COLOR: #ffffff; 
	PADDING-TOP: 0px; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none
}
.left05 A:visited {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 0px; 
	COLOR: #ffffff; 
	PADDING-TOP: 0px; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none
}
.left05 A:active {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 0px; 
	COLOR: #ffffff; 
	PADDING-TOP: 0px; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none
}
.left05 A:hover {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 0px; 
	COLOR: #ffffff; 
	PADDING-TOP: 0px; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: underline
}

.left06 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 17px;
	PADDING-BOTTOM: 8px;
	PADDING-TOP: 8px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
	font-size: 10.8px;
	color: #455B00;

}
.left06 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;

}
.left06 A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #455B00;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
	line-height: 18px;

}
.left06 A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #455B00;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}
.left06 A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #455B00;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}
.left06 A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #628200;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}

.left07 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 17px;
	PADDING-BOTTOM: 8px;
	PADDING-TOP: 8px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
	font-size: 10.8px;
	color: #832F16;

}
.left07 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;

}
.left07 A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #832F16;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
	line-height: 18px;

}
.left07 A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #832F16;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}
.left07 A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #832F16;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}
.left07 A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #99351A;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}

.left08 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 17px;
	PADDING-BOTTOM: 8px;
	PADDING-TOP: 8px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
	font-size: 10.8px;
	color: #B05000;

}
.left08 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;

}
.left08 A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #B05000;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
	line-height: 18px;

}
.left08 A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #B05000;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}
.left08 A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #B05000;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}
.left08 A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #FA7200;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}

.left09 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 17px;
	PADDING-BOTTOM: 8px;
	PADDING-TOP: 8px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
	font-size: 10.8px;
	color: #386F06;

}
.left09 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;

}
.left09 A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #386F06;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
	line-height: 18px;

}
.left09 A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #386F06;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}
.left09 A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #386F06;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}
.left09 A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #4A9109;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}

.left10 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 17px;
	PADDING-BOTTOM: 8px;
	PADDING-TOP: 8px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
	font-size: 10.8px;
	color: #931739;

}
.left10 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;

}
.left10 A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #931739;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
	line-height: 18px;

}
.left10 A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #931739;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}
.left10 A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #931739;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}
.left10 A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #B31D47;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}

.left11 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 17px;
	PADDING-BOTTOM: 8px;
	PADDING-TOP: 8px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
	font-size: 10.8px;
	color: #A07416;

}
.left11 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;

}
.left11 A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #966B14;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
	line-height: 18px;

}
.left11 A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #A07416;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}
.left11 A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #A07416;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}
.left11 A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #DC9C1E;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}

.ads01 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	COLOR: #0033CC;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;
	text-decoration: none;

}
.ads01 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;

}
.ads01 A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	COLOR: #0033CC;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
	line-height: 18px;

}
.ads01 A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	COLOR: #0033CC;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.ads01 A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	COLOR: #0033CC;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.ads01 A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	COLOR: #0033CC;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}

.adsmain {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	text-decoration: none;
	font-weight: normal;
	color: #333333;
	padding-top: 3px;
}

.adsmail {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 9.8px;
	text-decoration: none;
	font-weight: normal;
	color: #0000FF;
	padding-top: 2px;
}

.bottom {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 10.8px;
	text-decoration: none;
	font-weight: normal;
	color: #666666;
}

.m02 {
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 10.8px;
	font-weight: bold;
	color: #494949;
	padding: 0px;
	line-height: 16px;

}

.m02 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	COLOR: #494949;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";

}
.m02 A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #494949;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}
.m02 A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #494949;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
}
.m02 A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #494949;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}
.m02 A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #0033CC;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}

.dalian01 {
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	font-weight: bold;
	color: #006BC0;
	padding: 0px;
	line-height: 16px;

}

.dalian01 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	COLOR: #006BC0;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";

}
.dalian01 A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #006BC0;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}
.dalian01 A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #006BC0;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}
.dalian01 A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #006BC0;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}
.dalian01 A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #004175;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}


.dalian02 {
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	font-weight: bold;
	color: #405402;
	padding: 0px;
	line-height: 16px;
}

.dalian02 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	COLOR: #405402;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";

}
.dalian02 A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #405402;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}
.dalian02 A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #405402;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}
.dalian02 A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #405402;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}
.dalian02 A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #2B3801;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}


.dalian03 {
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	font-weight: bold;
	color: #99351A;
	padding: 0px;
	line-height: 16px;
}

.dalian03 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	COLOR:#99351A;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";

}
.dalian03 A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #99351A;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}
.dalian03 A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #99351A;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}
.dalian03 A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #99351A;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}
.dalian03 A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #5A2110;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}


.dalian04 {
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	font-weight: bold;
	color: #B75504;
	padding: 0px;
	line-height: 16px;
}

.dalian04 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	COLOR: #B75504;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";

}
.dalian04 A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #B75504;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}
.dalian04 A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #B75504;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}
.dalian04 A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #B75504;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}
.dalian04 A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #713402;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}

.vh09 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #044B8D;
	font-weight: bold;
}

.name {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 0px;
	padding-left: 8px;
}

.name01 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #006BC0;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}
.name01 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	COLOR: #006BC0;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	text-indent: 0px;

}
.name01 A:link {
	FONT-SIZE: 10px;
	COLOR: #006BC0;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;
	padding: 0px;
}
.name01 A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #006BC0;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
}
.name01 A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #006BC0;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}
.name01 A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #00CC99;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}

.name02 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #044B8D;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}
.list01 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #2C2C2C;
	font-weight: normal;
	padding-top: 5px;
	padding-bottom: 5px;
	letter-spacing: -1px;
}
.name03 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	color: #ffffff;
	padding-left: 20px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 20px;
}

.contact01 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11.8px;
	text-decoration: none;
	font-weight: normal;
	color: #333333;
	line-height: 17px;
	padding-bottom: 15px;
	padding-top: 10px;
	padding-right: 18px;
	padding-left: 18px;
}
.contact03 {
	PADDING-RIGHT: 8px;
	PADDING-LEFT: 8px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #333333;
	PADDING-TOP: 0px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: none;
}

.name04 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 11.8px;
	text-decoration: none;
	font-weight: bold;
	color: #333333;
	padding-left: 18px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 18px;
}

.name05 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #405402;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}
.name05 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	COLOR: #405402;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	text-indent: 0px;

}
.name05 A:link {
	FONT-SIZE: 10px;
	COLOR: #405402;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;
	padding: 0px;
}
.name05 A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #405402;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
}
.name05 A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #405402;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;
}
.name05 A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #999900;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;
}

.name06 {
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 10px;
	font-weight: bold;
	color: #99351A;
	padding: 0px;
	line-height: 16px;
}

.name06 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	COLOR:#99351A;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";

}
.name06 A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #99351A;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;
}
.name06 A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #99351A;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}
.name06 A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #99351A;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;
}
.name06 A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #5A2110;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;
}
