.head {
	FONT-SIZE: 10.5px;
	COLOR: #999999;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	text-decoration: none;
	font-weight: bold;
	padding: 0px;

}
.head TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;

}
.head A:link {
	PADDING-RIGHT: 0px;
	FONT-SIZE: 10.5px;
	PADDING-BOTTOM: 0px;
	COLOR: #999999;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.head A:visited {
	PADDING-RIGHT: 0px;
	FONT-SIZE: 10.5px;
	PADDING-BOTTOM: 0px;
	COLOR: #999999;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.head A:active {
	PADDING-RIGHT: 0px;
	FONT-SIZE: 10.5px;
	PADDING-BOTTOM: 0px;
	COLOR: #999999;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.head A:hover {
	PADDING-RIGHT: 0px;
	FONT-SIZE: 10.5px;
	PADDING-BOTTOM: 0px;
	COLOR: #333333;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}

.link {
	COLOR: #4B4B4B;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	text-decoration: none;
	font-weight: bold;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 8px;
	padding-left: 0px;
	font-size: 10.8px;

}
.link TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;

}
.link A:link {
	PADDING-RIGHT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #4B4B4B;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
	line-height: 16px;

}
.link A:visited {
	PADDING-RIGHT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #4B4B4B;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}
.link A:active {
	PADDING-RIGHT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #4B4B4B;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}
.link A:hover {
	FONT-SIZE: 10.8px;
	COLOR: #999999;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
	padding: 0px;

}

.vh02 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	color: #044B8D;
	padding-top: 15px;
	padding-bottom: 10px;
	filter: DropShadow(Color=#99BAD9, OffX=1, OffY=1, Positive=2);
}

.vh03 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #333333;
	padding-bottom: 5px;
	padding-top: 30px;
}

.vh04 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #1573A6;
	line-height: 17px;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 0px;
}

.bh02 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 13px;
	text-decoration: none;
	font-weight: bold;
	color: #663366;
	padding-top: 5px;
	padding-bottom: 5px;
	filter: DropShadow(Color=#C58BC5, OffX=1, OffY=1, Positive=2);
}

.bh03 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	color: #6633CC;
	padding-top: 18px;
	padding-bottom: 8px;
}

.bh04 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #663366;
	line-height: 17px;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 0px;
}
.bh04 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";

}
.bh04 A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 4px;
	COLOR: #663366;
	PADDING-TOP: 4px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;
}
.bh04 A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 4px;
	COLOR: #663366;
	PADDING-TOP: 4px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}
.bh04 A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 4px;
	COLOR: #663366;
	PADDING-TOP: 4px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;
}
.bh04 A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 4px;
	COLOR: #522952;
	PADDING-TOP: 4px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;
}




.vmain01 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 11.8px;
	text-decoration: none;
	font-weight: normal;
	color: #333333;
	line-height: 17px;
	padding-bottom: 20px;
	padding-top: 10px;
}
.vmain01 TD {
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: normal;
	padding: 0px;
	margin: 0px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;

}
.vmain01 A:link {
	PADDING-RIGHT: 0px;
	FONT-SIZE: 11.8px;
	PADDING-BOTTOM: 8px;
	COLOR: #333333;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: normal;
	line-height: 16px;

}
.vmain01 A:visited {
	PADDING-RIGHT: 0px;
	FONT-SIZE: 11.8px;
	PADDING-BOTTOM: 8px;
	COLOR: #333333;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: normal;

}
.vmain01 A:active {
	PADDING-RIGHT: 0px;
	FONT-SIZE: 11.8px;
	PADDING-BOTTOM: 8px;
	COLOR: #333333;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: normal;

}
.vmain01 A:hover {
	PADDING-RIGHT: 0px;
	FONT-SIZE: 11.8px;
	PADDING-BOTTOM: 8px;
	COLOR: #0066CC;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: normal;

}

.return01 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	COLOR: #8E8F8F;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;
	text-decoration: none;
}
.return01 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;


}
.return01 A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	COLOR: #8E8F8F;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;
	filter: DropShadow(Color=#000000, OffX=2, OffY=2, Positive=3);

}
.return01 A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	COLOR: #8E8F8F;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.return01 A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	COLOR: #8E8F8F;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.return01 A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;

	PADDING-BOTTOM: 0px;
	COLOR: #333333;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}

.left {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 15px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #333333;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	text-decoration: none;
	font-weight: bold;
}
.left TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;

}
.left A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #333333;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.left A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #333333;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.left A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #333333;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.left A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #FFFFFF;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}

.m02 {
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 10.8px;
	font-weight: bold;
	color: #494949;
	padding: 0px;
	line-height: 16px;

}

.m02 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	COLOR: #494949;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";

}
.m02 A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #494949;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}
.m02 A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #494949;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
}
.m02 A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #494949;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}
.m02 A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #0033CC;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}

.maintop {
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 10px;
	font-weight: bold;
	color: #5E5E5E;
	padding: 0px;
	line-height: 16px;

}

.maintop TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	COLOR: #494949;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";

}
.maintop A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #5E5E5E;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;
}
.maintop A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #5E5E5E;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
}
.maintop A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #5E5E5E;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;
}
.maintop A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #FFFFFF;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;
	background-color: #999999;
}

.mainbottom {
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 10px;
	font-weight: bold;
	color: #4F4F4F;
	padding: 0px;
	line-height: 16px;

}

.mainbottom TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	COLOR: #4F4F4F;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";

}
.mainbottom A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #4F4F4F;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;
}
.mainbottom A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #4F4F4F;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
}
.mainbottom A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #4F4F4F;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;
}
.mainbottom A:hover {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #FFFFFF;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;
	background-color: #4F4F4F;
}

.name {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 0px;
	padding-left: 8px;
}
.name TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	text-indent: 0px;

}
.name A:link {
	FONT-SIZE: 11px;
	COLOR: #ffffff;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;
	padding: 0px;
}
.name A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #ffffff;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
}
.name A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #ffffff;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;
}
.name A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #ffffff;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}

.name01 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #006BC0;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}
.name01 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	COLOR: #006BC0;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	text-indent: 0px;

}
.name01 A:link {
	FONT-SIZE: 11px;
	COLOR: #006BC0;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;
	padding: 0px;
}
.name01 A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #006BC0;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
}
.name01 A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #006BC0;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;
}
.name01 A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #00CC99;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;
}

.middletitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 20px;
}
.middletitle01 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #8D478D;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}
.middletitle02 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0069D2;
	font-weight: bold;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 20px;
}
.middletitle03 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #17A1AE;
	font-weight: bold;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 20px;
}
.middletitle04 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #CC6600;
	font-weight: bold;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 20px;
}

.list01 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #2C2C2C;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.list02 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 0px;
	letter-spacing: -1px;
	padding-right: 0px;
	padding-left: 0px;
}
.name03 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	color: #ffffff;
	padding-left: 20px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 20px;
}

.contact01 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11.8px;
	text-decoration: none;
	font-weight: normal;
	color: #333333;
	line-height: 17px;
	padding-bottom: 23px;
	padding-top: 15px;
	padding-right: 18px;
	padding-left: 18px;
}
.contact03 {
	PADDING-RIGHT: 8px;
	PADDING-LEFT: 8px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 4px;
	COLOR: #333333;
	PADDING-TOP: 4px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: none;
}
.contact03 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	text-indent: 0px;

}
.contact03 A:link {
	FONT-SIZE: 11px;
	COLOR: #333333;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: normal;
	padding: 0px;
}
.contact03 A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #333333;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
}
.contact03 A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #333333;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: normal;
}
.contact03 A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #262626;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: normal;
}

.name04 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 11.8px;
	text-decoration: none;
	font-weight: bold;
	color: #333333;
	padding-left: 18px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 18px;
}

.name05 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #405402;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}
.name05 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	COLOR: #405402;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	text-indent: 0px;

}
.name05 A:link {
	FONT-SIZE: 10px;
	COLOR: #405402;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;
	padding: 0px;
}
.name05 A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #405402;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
}
.name05 A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #405402;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;
}
.name05 A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #999900;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;
}

.name06 {
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 10px;
	font-weight: bold;
	color: #99351A;
	padding: 0px;
	line-height: 16px;
}

.name06 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	COLOR:#99351A;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";

}
.name06 A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #99351A;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;
}
.name06 A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #99351A;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}
.name06 A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #99351A;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;
}
.name06 A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #5A2110;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;
}
.name07 {
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 10px;
	font-weight: bold;
	color: #663366;
	padding: 0px;
	line-height: 16px;
}

.name07 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";

}
.name07 A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #663366;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;
}
.name07 A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #663366;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}
.name07 A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #663366;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;
}
.name07 A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #522952;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;
}
.h01 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3366CC;
	font-weight: bold;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 20px;
}
