.top {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	COLOR: #FFFFFF;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	text-decoration: none;
	font-weight: bold;

}
.top TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;

}
.top A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 15px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	COLOR: #FFFFFF;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.top A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 15px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	COLOR: #FFFFFF;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.top A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 15px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	COLOR: #FFFFFF;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.top A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 15px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	COLOR: #FFFFFF;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}

.top01 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #666666;
	PADDING-TOP: 0px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: bold;
	line-height: 14px;

}
.top01 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	font-weight: bold;

}
.top01 A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #666666;
	PADDING-TOP: 0px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	font-weight: bold;
	line-height: 14px;

}
.top01 A:visited {
	FONT-SIZE: 10px;
	COLOR: #666666;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	font-weight: bold;
	padding: 0px;
	line-height: 14px;

}
.top01 A:active {
	FONT-SIZE: 10px;
	COLOR: #666666;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	font-weight: bold;
	padding: 0px;
	line-height: 14px;

}
.top01 A:hover {
	FONT-SIZE: 10px;
	COLOR: #143C84;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline;
	font-weight: bold;
	padding: 0px;
	line-height: 14px;

}

.return {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	COLOR: #8E8F8F;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;
	text-decoration: none;




}
.return TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;


}
.return A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	COLOR: #8E8F8F;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;
	filter: DropShadow(Color=#000000, OffX=2, OffY=2, Positive=3);

}
.return A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	COLOR: #8E8F8F;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.return A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	COLOR: #8E8F8F;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.return A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	COLOR: #333333;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.select {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #333333;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: normal;
	text-decoration: none;
}

.select TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;


}
.select A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #333333;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.select A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #333333;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.select A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #333333;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.select A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #0033CC;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}

.email {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 5px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #9F9F9F;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	text-decoration: none;
	font-weight: bold;
	line-height: 16px;



}
.email TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;
	text-decoration: none;

}
.email A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #9F9F9F;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}
.email A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #9F9F9F;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.email A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #9F9F9F;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.email A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #666666;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}

.main {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #000000;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	text-decoration: none;
	line-height: 21px;
	font-weight: normal;



}
.main TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	COLOR: #000000;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: normal;
	text-decoration: none;

}
.main A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #000000;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: normal;

}
.main A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #000000;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: normal;

}
.main A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #000000;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: normal;

}
.main A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #990000;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: normal;

}

.left {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 15px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #FFFFFF;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	text-decoration: none;
	font-weight: bold;
}
.left TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;

}
.left A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #FFFFFF;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.left A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #FFFFFF;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.left A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #FFFFFF;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.left A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #FFFFFF;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}

.left01 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 17px;
	PADDING-BOTTOM: 8px;
	COLOR: #044B8D;
	PADDING-TOP: 8px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
	font-size: 10.8px;

}
.left01 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;

}
.left01 A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #044B8D;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
	line-height: 18px;

}
.left01 A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #044B8D;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}
.left01 A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #044B8D;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}
.left01 A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #0033FF;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}

.left02 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 17px;
	PADDING-BOTTOM: 8px;
	COLOR: #035B8F;
	PADDING-TOP: 8px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
	font-size: 10.8px;

}
.left02 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;

}
.left02 A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #035B8F;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
	line-height: 18px;

}
.left02 A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #035B8F;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}
.left02 A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #035B8F;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}
.left02 A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #0066FF;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}

.left03 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 17px;
	PADDING-BOTTOM: 8px;
	COLOR: #663366;
	PADDING-TOP: 8px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
	font-size: 10.8px;

}
.left03 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;

}
.left03 A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #663366;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
	line-height: 18px;

}
.left03 A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #663366;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}
.left03 A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #663366;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}
.left03 A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #663366;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}

.left04 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 17px;
	PADDING-BOTTOM: 8px;
	PADDING-TOP: 8px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
	font-size: 10.8px;
	color: #6A5000;

}
.left04 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;

}
.left04 A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #6A5000;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
	line-height: 18px;

}
.left04 A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #6A5000;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}
.left04 A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #6A5000;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}
.left04 A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #AE8300;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}


.left05 {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 0px; 
	COLOR: #ffffff; 
	PADDING-TOP: 0px; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none
}
.left05 TD {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	FONT-WEIGHT: normal; 
	PADDING-BOTTOM: 0px; 
	PADDING-TOP: 0px; 
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
.left05 A:link {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 0px; 
	COLOR: #ffffff; 
	PADDING-TOP: 0px; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none
}
.left05 A:visited {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 0px; 
	COLOR: #ffffff; 
	PADDING-TOP: 0px; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none
}
.left05 A:active {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 0px; 
	COLOR: #ffffff; 
	PADDING-TOP: 0px; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none
}
.left05 A:hover {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 0px; 
	COLOR: #ffffff; 
	PADDING-TOP: 0px; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: underline
}

.left06 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 17px;
	PADDING-BOTTOM: 8px;
	PADDING-TOP: 8px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
	font-size: 10.8px;
	color: #455B00;

}
.left06 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;

}
.left06 A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #455B00;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
	line-height: 18px;

}
.left06 A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #455B00;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}
.left06 A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #455B00;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}
.left06 A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #628200;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}

.left07 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 17px;
	PADDING-BOTTOM: 8px;
	PADDING-TOP: 8px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
	font-size: 10.8px;
	color: #832F16;

}
.left07 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;

}
.left07 A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #832F16;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
	line-height: 18px;

}
.left07 A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #832F16;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}
.left07 A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #832F16;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}
.left07 A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #99351A;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}

.left08 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 17px;
	PADDING-BOTTOM: 8px;
	PADDING-TOP: 8px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
	font-size: 10.8px;
	color: #B05000;

}
.left08 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;

}
.left08 A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #B05000;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
	line-height: 18px;

}
.left08 A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #B05000;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}
.left08 A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #B05000;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;

}
.left08 A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #FA7200;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}

.ads01 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	COLOR: #0033CC;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;
	text-decoration: none;

}
.ads01 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;

}
.ads01 A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	COLOR: #0033CC;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
	line-height: 18px;

}
.ads01 A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	COLOR: #0033CC;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.ads01 A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	COLOR: #0033CC;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}
.ads01 A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	COLOR: #0033CC;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: none;
	font-weight: bold;

}

.adsmain {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	text-decoration: none;
	font-weight: normal;
	color: #333333;
	padding-top: 3px;
}

.adsmail {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 9.8px;
	text-decoration: none;
	font-weight: normal;
	color: #0000FF;
	padding-top: 2px;
}

.bottom {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 10.8px;
	text-decoration: none;
	font-weight: normal;
	color: #666666;
}

.m02 {
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 10.8px;
	font-weight: bold;
	color: #494949;
	padding: 0px;
	line-height: 16px;

}

.m02 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	COLOR: #494949;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";

}
.m02 A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #494949;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}
.m02 A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #494949;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
}
.m02 A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #494949;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}
.m02 A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10.8px;
	PADDING-BOTTOM: 0px;
	COLOR: #0033CC;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: bold;
}

.dalian01 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	text-decoration: none;
	font-weight: normal;
	color: #006BC0;
	font-weight: bold;
}

.dalian011 {
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 10px;
	font-weight: none;
	color: #006BC0;
	padding: 0px;
	line-height: 16px;

}

.dalian011 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	COLOR: #006BC0;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";

}
.dalian011 A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #006BC0;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: none;
}
.dalian011 A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #006BC0;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
}
.dalian011 A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #006BC0;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: none;
}
.dalian011 A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #004175;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: normal;
}

.dalian02 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	text-decoration: none;
	color: #405402;
	font-weight: bold
}

.dalian022 {
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 10px;
	font-weight: none;
	color: #405402;
	padding: 0px;
	line-height: 16px;
}

.dalian022 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	COLOR: #405402;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";

}
.dalian022 A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #405402;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: none;
}
.dalian022 A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #405402;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
}
.dalian022 A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #405402;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: none;
}
.dalian022 A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #2B3801;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: normal;
}

.dalian03 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	text-decoration: none;
	color: #99351A;
	font-weight: bold
}

.dalian033 {
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 10px;
	font-weight: none;
	color: #99351A;
	padding: 0px;
	line-height: 16px;
}

.dalian033 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	COLOR:#99351A;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";

}
.dalian033 A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #99351A;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: none;
}
.dalian033 A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #99351A;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
}
.dalian033 A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #99351A;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: none;
}
.dalian033 A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #5A2110;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: normal;
}

.dalian04 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	text-decoration: none;
	color: #B75504;
	font-weight: bold
}

.dalian044 {
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 10px;
	font-weight: none;
	color: #B75504;
	padding: 0px;
	line-height: 16px;
}

.dalian044 TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	COLOR: #B75504;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";

}
.dalian044 A:link {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #B75504;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: none;
}
.dalian044 A:visited {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #B75504;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
}
.dalian044 A:active {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #B75504;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: none;
}
.dalian044 A:hover {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #713402;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	TEXT-DECORATION: underline;
	font-weight: normal;
}
