body,p,div,td {  font-family: "Arial", "Helvetica", "sans-serif"; font-size: 12px; line-height: 140%}
a {  color: #000000; text-decoration: underline}
a:hover {  color: #FF0000; text-decoration: underline}
.a1 {  color: #FFFFFF; text-decoration: underline}
.a0 {  color: #000000; text-decoration: none}
.a1:hover {  color: #FFFFFF; text-decoration: underline}
.a2 {  color: #FFFFFF; text-decoration: none}
.a2:hover {  color: #FFFFFF; text-decoration: underline}
.a3 {  color: #FFFFFF; text-decoration: underline}
.a3:hover {  color: #FFFFFF; text-decoration: none}
.a4 {  color: #000000; text-decoration: underline}
.a4:hover {  color: #000000; text-decoration: underline}
.small {  font-family: "Tahoma"; font-size: 11px}
.theight {  font-family: "宋体"; line-height: 140%}
.form { font: 9pt "Tahoma", "MS Shell Dlg";}
.time {  font-family: "Tahoma"; font-size: 10px;color:#999999}
.font { font-family: "Arial", "Helvetica", "sans-serif"; font-size: 10.5pt;}
.tdstyle {border-left: 1 solid #C0C0C0; border-right: 1 solid #C0C0C0; border-bottom: 1 solid #C0C0C0 }
.shop {  font-family: "Tahoma"; font-size: 11px ; color:#FF0000;}
.text {  font-family: "Tahoma", "宋体"; font-size: 12px }
.sub  { font-size: 9pt; border: 1 ridge #C0C0C0 }
.td1 {border-left: 1 solid #000000; border-right: 1 solid #000000; border-bottom: 1 solid #000000 }
.td2 {border-left: 1 solid #000000; border-right: 1 solid #000000 }
.text { font-family: "Arial", "Helvetica", "sans-serif"; font-size: 12px}
.button {  font-family: "Tahoma", "宋体"; font-size: 12px; text-decoration: none}
input,select,textarea {  font-family: "Tahoma", "宋体"; font-size: 12px}
.unnamed1 {  }
