.menuspan {
	CURSOR: hand; POSITION: absolute
}
.menuhead {
	PADDING-LEFT: 6px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; WIDTH: 88px; COLOR: #ff6600; PADDING-TOP: 3px; FONT-FAMILY: 宋体
}
.menuheadx {
	PADDING-LEFT: 6px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; WIDTH: 88px; COLOR: #ff6600; PADDING-TOP: 3px; FONT-FAMILY: 宋体
}
.menuhead_open {
	BORDER-RIGHT: #fed070 1px solid; BORDER-TOP: #fed070 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 12px; Z-INDEX: 1; BACKGROUND: #e9ffd8; PADDING-BOTTOM: 0px; BORDER-LEFT: #fed070 1px solid; WIDTH: 88px; COLOR: #ff6600; PADDING-TOP: 2px; BORDER-BOTTOM: #fed070 1px solid; FONT-FAMILY: 宋体
}
.menuhead_opensub {
	BORDER-TOP: #fed070 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 12px; Z-INDEX: 1; BACKGROUND: #e9ffd8; PADDING-BOTTOM: 0px; BORDER-LEFT: #fed070 1px solid; WIDTH: 88px; COLOR: #ff6600; PADDING-TOP: 2px; BORDER-BOTTOM: #fed070 1px solid; FONT-FAMILY: 宋体
}
.menuhead_click {
	PADDING-LEFT: 6px; FONT-SIZE: 12px; BACKGROUND: #e9ffd6; PADDING-BOTTOM: 0px; WIDTH: 88px; COLOR: #ff6600; PADDING-TOP: 3px; FONT-FAMILY: 宋体
}
.menuhead_clicksub {
	PADDING-LEFT: 6px; FONT-SIZE: 12px; BACKGROUND: #e9ffd6; PADDING-BOTTOM: 0px; WIDTH: 88px; COLOR: #ff6600; PADDING-TOP: 3px; FONT-FAMILY: 宋体
}
.menu {
	BORDER-RIGHT: #ffcf70 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ffcf70 1px solid; PADDING-LEFT: 2px; Z-INDEX: -1; BACKGROUND: #e9ffd6; LEFT: 99px; VISIBILITY: hidden; PADDING-BOTTOM: 2px; BORDER-LEFT: #ffcf70 1px solid; COLOR: #ff6600; PADDING-TOP: 2px; BORDER-BOTTOM: #ffcf70 1px solid; POSITION: absolute
}
.menuopt {
	BORDER-RIGHT: #e9ffd6 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #e9ffd6 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 12px; BACKGROUND: #e9ffd6; PADDING-BOTTOM: 1px; BORDER-LEFT: #e9ffd6 1px solid; COLOR: #ff6600; PADDING-TOP: 1px; BORDER-BOTTOM: #e9ffd6 1px solid; FONT-FAMILY: 宋体
}
.menuopt_over {
	PADDING-RIGHT: 1px; PADDING-LEFT: 6px; FONT-SIZE: 12px; BACKGROUND: #ffffff; PADDING-BOTTOM: 2px; COLOR: #fe6700; PADDING-TOP: 2px; FONT-FAMILY: 宋体
}
.menuopt_click {
	PADDING-RIGHT: 1px; PADDING-LEFT: 6px; FONT-SIZE: 12px; BACKGROUND: #ffffff; PADDING-BOTTOM: 2px; COLOR: #fe6700; PADDING-TOP: 2px; FONT-FAMILY: 宋体
}
